nav {
    background-color: #333;
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-around;
    align-items: center;
}

h2 {
    color: #fff;
}

ul {
    display: flex;
    margin-top: 1rem;
}

li {
    list-style: none;
    margin-left: 30px;
    padding-top: 10px;
}

.menu {
    color: #fff;
}